In [3]:
import pandas as pd
import dask.dataframe as dd
from fuzzywuzzy import fuzz

In [4]:
data = dd.read_csv('./Resultados11_nonull.csv', dtype='str',
                   assume_missing=True,
                   na_values=['', 'NA', 'nan'])
data: pd.DataFrame = data.compute()
data

,PERIODO,ESTU_TIPODOCUMENTO,ESTU_CONSECUTIVO,COLE_AREA_UBICACION,COLE_BILINGUE,COLE_CALENDARIO,COLE_CARACTER,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,...,FAMI_TIENECOMPUTADOR,FAMI_TIENEINTERNET,FAMI_TIENELAVADORA,DESEMP_INGLES,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,141016000305,241016000342,41,...,Si,Si,Si,B1,71,66,70,65,69,339
1,20194,TI,SB11201940464873,RURAL,N,A,TÉCNICO/ACADÉMICO,141016000305,241016000342,41,...,Si,Si,Si,B1,71,66,70,65,69,339
2,20194,TI,SB11201940562856,URBANO,N,A,TÉCNICO/ACADÉMICO,141396000175,141396000175,41,...,No,No,No,A-,46,43,31,40,43,199
3,20194,TI,SB11201940562856,URBANO,N,A,TÉCNICO/ACADÉMICO,141396000175,141396000175,41,...,No,No,No,A-,46,43,31,40,43,199
4,20162,TI,SB11201620084846,URBANO,N,A,TÉCNICO/ACADÉMICO,176001013310,176001013310,76,...,Si,Si,Si,A2,59,57,46,57,57,272
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155026,20221,CC,AC202210023501,URBANO,N,OTRO,ACADÉMICO,305001022682,305001022682,05,...,Si,Si,Si,A-,42,50,45,40,52,232
155027,20221,TI,AC202210003698,URBANO,S,B,ACADÉMICO,311001107513,311001107513,11,...,Si,Si,Si,B1,76,55,54,56,56,284
155028,20221,CC,AC202210034448,URBANO,N,A,ACADÉMICO,311001105928,311001105928,11,...,Si,Si,Si,A1,48,53,38,45,50,233
155029,20221,TI,AC202210006814,URBANO,S,B,TÉCNICO/ACADÉMICO,311001019568,311001019568,11,...,Si,Si,Si,B1,73,67,57,62,63,315
155030,20221,CC,AC202210029659,URBANO,N,A,ACADÉMICO,311001091838,311001091838,11,...,Si,Si,Si,A-,38,35,35,45,37,190

In [5]:
data.columns

Index(['PERIODO', 'ESTU_TIPODOCUMENTO', 'ESTU_CONSECUTIVO',
       'COLE_AREA_UBICACION', 'COLE_BILINGUE', 'COLE_CALENDARIO',
       'COLE_CARACTER', 'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_COD_DANE_SEDE',
       'COLE_COD_DEPTO_UBICACION', 'COLE_COD_MCPIO_UBICACION',
       'COLE_CODIGO_ICFES', 'COLE_DEPTO_UBICACION', 'COLE_GENERO',
       'COLE_JORNADA', 'COLE_MCPIO_UBICACION', 'COLE_NATURALEZA',
       'COLE_NOMBRE_ESTABLECIMIENTO', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'ESTU_COD_DEPTO_PRESENTACION',
       'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_COD_RESIDE_DEPTO',
       'ESTU_COD_RESIDE_MCPIO', 'ESTU_DEPTO_PRESENTACION', 'ESTU_DEPTO_RESIDE',
       'ESTU_ESTADOINVESTIGACION', 'ESTU_ESTUDIANTE', 'ESTU_FECHANACIMIENTO',
       'ESTU_GENERO', 'ESTU_MCPIO_PRESENTACION', 'ESTU_MCPIO_RESIDE',
       'ESTU_NACIONALIDAD', 'ESTU_PAIS_RESIDE', 'ESTU_PRIVADO_LIBERTAD',
       'FAMI_CUARTOSHOGAR', 'FAMI_EDUCACIONMADRE', 'FAMI_EDUCACIONPADRE',
       'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENECOMPUTADOR', 'FAMI_TIENEINTERNET', 'FAMI_TIENELAVADORA',
       'DESEMP_INGLES', 'PUNT_INGLES', 'PUNT_MATEMATICAS',
       'PUNT_SOCIALES_CIUDADANAS', 'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA',
       'PUNT_GLOBAL'],
      dtype='object')

In [6]:
data[['PUNT_INGLES', 'PUNT_MATEMATICAS', 'PUNT_SOCIALES_CIUDADANAS', 'PUNT_C_NATURALES', 'PUNT_LECTURA_CRITICA', 'PUNT_GLOBAL']]

,PUNT_INGLES,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS,PUNT_C_NATURALES,PUNT_LECTURA_CRITICA,PUNT_GLOBAL
0,71,66,70,65,69,339
1,71,66,70,65,69,339
2,46,43,31,40,43,199
3,46,43,31,40,43,199
4,59,57,46,57,57,272
...,...,...,...,...,...,...
155026,42,50,45,40,52,232
155027,76,55,54,56,56,284
155028,48,53,38,45,50,233
155029,73,67,57,62,63,315
155030,38,35,35,45,37,190

In [ ]:
# Deberia ser de 33
display(len(data['COLE_DEPTO_UBICACION'].unique()))
data['COLE_DEPTO_UBICACION'].unique()

In [ ]:
data['COLE_MCPIO_UBICACION'].value_counts()

In [3]:
d = dd.read_csv('./ResultadosPro_nonull.csv', dtype='str',
                   assume_missing=True,
                   na_values=['', 'NA', 'nan']).compute()
d

,Unnamed: 0,PERIODO,ESTU_CONSECUTIVO,ESTU_TIPODOCUMENTO,ESTU_PAIS_RESIDE,ESTU_COD_RESIDE_DEPTO,ESTU_DEPTO_RESIDE,ESTU_COD_RESIDE_MCPIO,ESTU_MCPIO_RESIDE,ESTU_CODDANE_COLE_TERMINO,...,FAMI_TIENEINTERNET,FAMI_EDUCACIONMADRE,INST_ORIGEN,MOD_RAZONA_CUANTITAT_PUNT,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_INGLES_DESEM,MOD_LECTURA_CRITICA_PUNT,MOD_INGLES_PUNT,MOD_COMPETEN_CIUDADA_PUNT
0,0,20183,EK201830167993,CC,COLOMBIA,73,TOLIMA,73001,IBAGUÉ,173001004303,...,Si,No sabe,NO OFICIAL - CORPORACIÓN,142,77,1,A1,124,130,153
1,1,20183,EK201830168158,CC,COLOMBIA,68,SANTANDER,68081,BARRANCABERMEJA,168081000571,...,Si,Técnica o tecnológica completa,OFICIAL DEPARTAMENTAL,185,157,3,-A1,178,106,169
2,2,20183,EK201830164354,CC,COLOMBIA,11,BOGOTÁ,11001,BOGOTÁ D.C.,111001001538,...,Si,Educación profesional completa,OFICIAL DEPARTAMENTAL,114,132,2,A1,139,135,126
3,3,20183,EK201830129217,CC,COLOMBIA,70,SUCRE,70001,SINCELEJO,170001000414,...,No,Ninguno,NO OFICIAL - CORPORACIÓN,120,127,2,-A1,152,121,127
4,4,20183,EK201830138320,CC,COLOMBIA,11,BOGOTÁ,11001,BOGOTÁ D.C.,311001001901,...,Si,Técnica o tecnológica incompleta,NO OFICIAL - FUNDACIÓN,128,165,3,A2,169,159,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117156,711860,20222,EK202220206584,CC,COLOMBIA,11,BOGOTÁ,11001,BOGOTÁ D.C.,211102000243,...,Si,Secundaria (Bachillerato) completa,NO OFICIAL - FUNDACIÓN,168,125,2,A2,144,156,134
117157,711861,20222,EK202220148630,CC,COLOMBIA,41,HUILA,41396,LA PLATA,241396001281,...,Si,Primaria incompleta,OFICIAL NACIONAL,101,149,2,A2,153,134,140
117158,711862,20222,EK202220164335,CC,COLOMBIA,54,NORTE SANTANDER,54810,TIBÚ,154810003020,...,No,Primaria completa,NO OFICIAL - FUNDACIÓN,91,135,2,A2,100,132,93
117159,711863,20222,EK202220142587,CC,COLOMBIA,11,BOGOTÁ,11001,BOGOTÁ D.C.,323001002311,...,Si,Secundaria (Bachillerato) completa,NO OFICIAL - FUNDACIÓN,159,162,3,B1,190,178,163
117160,711864,20222,EK202220116355,CC,COLOMBIA,05,ANTIOQUIA,05001,MEDELLÍN,105001006980,...,Si,Secundaria (Bachillerato) incompleta,OFICIAL NACIONAL,179,156,3,A2,137,134,154

In [ ]:
d['ESTU_INST_MUNICIPIO'].value_counts()

In [5]:
set(d['ESTU_INST_MUNICIPIO'].unique()) - set(data['COLE_MCPIO_UBICACION'].unique())

set()

In [6]:
set(d['ESTU_INST_DEPARTAMENTO'].unique()) - set(data['COLE_DEPTO_UBICACION'].unique())

set()

In [7]:
municipalities = data['COLE_MCPIO_UBICACION'].unique()

threshold: int = 70

enumerated_municipalities = enumerate(municipalities)

for i, current in enumerated_municipalities:
    for j, other in enumerated_municipalities:
        if i != j:
            similarity = fuzz.ratio(current, other)

            if similarity > threshold:
                display(f'High Similarity. | Current: {current} | Other: {other} | {similarity}%')

In [ ]:
for value in data['COLE_MCPIO_UBICACION'].unique():
    display(value)

## @brief

Con lo anterior se puede concluir que no hay similaritudes relevantes entre los nombres de los municipios, asi que se puede proceder con
los siguientes pasos

In [ ]:
data['COLE_NOMBRE_ESTABLECIMIENTO'].value_counts()

In [ ]:
institutions = data['COLE_NOMBRE_ESTABLECIMIENTO'].unique()

threshold: int = 80
enumerated_intitutions = enumerate(institutions)

for i, current in enumerated_intitutions:
    for j, other in enumerated_intitutions:
        if i != j:
            similarity = fuzz.ratio(current, other)

            if similarity > threshold:
                display(f'High Similarity. | Current: {current} | Other: {other} | {similarity}%')

## @brief 

Con lo anterior tambien se puede notar que no parece que haya nombres de instituciones con errores gramaticales, asi que se puede continuar

In [ ]:
list(data[['COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'COLE_NOMBRE_ESTABLECIMIENTO', 'PERIODO']].itertuples(index=False))

In [ ]:
data['PERIODO'].unique()